/**
 */
@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

table.users {
    th, td {
        padding-left: 1.5rem;
    }
    th.sortable {
        &:hover {
            padding-left: 0;
            span {
                margin-left: 1.5rem;
            }
        }
        &:hover, &.sorted {
            background: url("../images/sort-down.png") no-repeat 4px center;
        }
        &.sorted-desc, &.sorted:hover {
            background: url("../images/sort-up.png") no-repeat 4px center;
        }
        .sort-link, .filter-link {
            position: absolute;
            min-width: 1.5rem;
            height: 1.5rem;
            line-height: 1.2rem;
        }
        .filterable {
            margin-right: 0.5rem;
            line-height: 1.2rem;
        }
        .filter-link {
            background-image: url("../images/filter.png");
            background-repeat: no-repeat;
            background-position: 4px;
            cursor: pointer;

            &.filtered {
                padding-left: 1.5rem;
            }
        }
    }
}